<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask HTMX ALPINE App</title>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        tr.htmx-swapping td {
            opacity: 0;
            transition: opacity 1s ease-out;
        }

        td, th {
            border: 1px solid #383737;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h1>Book Recommendations</h1>
    <form hx-post="/submit" hx-swap="beforeend" hx-target="#new-book">
        <input type="text" placeholder="Book Title" name="title" />
        <input type="text" placeholder="Book Author" name="author" />
        <button type="submit">Submit</button>
    </form>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Book Author</th>
          </tr>
        </thead>
        <tbody id="new-book" hx-target="closest tr" hx-swap="outerHTML swap:1s"> 
            {%for i in books%}
            <tr>
                <td>{{i.title}}</td>
                <td>{{i.author}}</td>
                <td>
                    <button hx-delete="/delete/{{i.id}}">Delete</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>